
/* style for create goal button */ 

 .btn-primary{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #7179e5;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
 }
 /* style for container */
.container{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    text-align: start;
    font-size: medium;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.input .title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
} 
