table {
    /* font-family: "Nunito", sans-serif; */
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    background: linear-gradient(to bottom right, #54666e, #84caee, #0b1418, #bcc5c9, #5ca5c2);
  }
  
  td {
    padding: 10px;
    border: 10px solid #ccc;
    color: #fff;
  }
  
  th {
    background-color: #73738f;
    padding: 10px;
    border: 10px solid #ccc;
    color: #fff;
  }
  
body{
    background-color: #73738f;
    color: #fff;
}

button{
    position: absolute;
    right: 0.5em;
    width: 5cm;
    height: 2cm;
    background-color: #4f4e7a;
    color: #fff;
}

  /* Styles for mobile devices */
  @media (max-width: 768px) {

    body {
      font-size: 14px;
    }
    table {
      font-size: 12px;
    }
  }
  table {
  overflow-x: auto;
  display: block;
  width: 100%;
  }
  /* Set a minimum width for each cell */
  td, th {
  min-width: 100px; 
  }
  .container {
  padding: 20px;
  }
  .row {
  margin: 10px 0;
  }

  #instructions{
    background-color: #5ca5c2;
    color: rgb(75, 75, 236);
  }