{% extends 'user_base.html' %} {% block title %}Eudaimonia - Calendar Goals{% endblock
    %} {%block content %}

  <main id="main">
    <!-- ======= main Section ======= -->
    <section id="services" class="values">

      <div class="container">
        <header class="col-lg-12 col-md-12 hero-img section-header">
          <div id="about" class="about">
            <div class="content">
              <h2>Goals!</h2>
            </div>
          </div>
        </header>
        <div class="row gy-4">
            <a href="/create_goal" class="btn-primary"><span>Create New Goals</span> <i class="bi bi-arrow-right"></i></a>
            <ul>
                {% for goal in goals %}
                    <li>{{ goal['title'] }} - {{ goal['description'] }}</li>
                    <ul>
                        {% set milestones = get_milestones(goal['id']) %}
                        {% for milestone in milestones %}
                            <li {% if milestone['completed'] %}class="completed"{% endif %}>
                                {{ milestone['description'] }}
                                <form action="/update_progress/{{ milestone['id'] }}" method="POST" style="display:inline;">
                                    <input type="checkbox" name="completed" {% if milestone['completed'] %}checked{% endif %} onchange="this.form.submit()">
                                </form>
                            </li>
                        {% endfor %}
                        <li><a href="/create_milestone/{{ goal.id }}" class="btn-primary">Set Milestone</a></li>
                    </ul>
                {% endfor %}
            </ul>
        </div>
    </div>

</section>
<!-- End Section -->
</main>

{% endblock %}

