{% extends 'user_base.html' %} {% block title %}Eudaimonia - Welcome{% endblock
    %} {%block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='img/favicon.png') }}"
      rel="icon"
    />
    <link
      href="{{ url_for('static', filename='img/favicon.png') }}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}"
      rel="stylesheet"
    />

    <link
      href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='assets/css/style.css') }}"
      rel="stylesheet"
    />
</head>
<body>
  <br><br><br>
  <main id="main">
    <!-- ======= main Section ======= -->
    <section id="services" class="values">

      <div class="container">
        <div class="row gy-4">
            <h2>Goals</h2>
            <a href="/create_goal" class="btn-primary"><span>Create Goals</span> <i class="bi bi-arrow-right"></i></a>
            <ul>
                {% for goal in goals %}
                    <li>{{ goal['title'] }} - {{ goal['description'] }}</li>
                    <ul>
                        {% set milestones = get_milestones(goal['id']) %}
                        {% for milestone in milestones %}
                            <li {% if milestone['completed'] %}class="completed"{% endif %}>
                                {{ milestone['description'] }}
                                <form action="/update_progress/{{ milestone['id'] }}" method="POST" style="display:inline;">
                                    <input type="checkbox" name="completed" {% if milestone['completed'] %}checked{% endif %} onchange="this.form.submit()">
                                </form>
                            </li>
                        {% endfor %}
                        <li><a href="/create_milestone/{{ goal.id }}" class="btn-primary">Create Milestone</a></li>
                    </ul>
                {% endfor %}
            </ul>
        </div>
    </div>

</section>
<!-- End Section -->
</main>


<!-- Vendor JS Files -->
<script src="{{url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
<script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
<script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>

<!-- Template Main JS File -->
<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>  
</body>
</html>

{% endblock %}

