<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/input" method="POST">

        <h4>Fill the form bellow to proceed to Genrate a Suitable Timetable for you!</h4>
  
        <div>
          <label for="name">First name: </label>
          <input type="text" id="name" name="name" placeholder="Your name" required>
          <br>
          <br>
          
        </div>
  
        
    
</body>
</html>