{% extends 'user_base.html' %} {% block title %}Eudaimonia - Welcome{% endblock
%} {%block content %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact d-flex align-items-center contact">
  <div class="container">
    <header class="col-lg-12 hero-img section-header">
      <div id="about" class="about">
        <div class="content">
          <h3>WELCOME TO EUDAIMONIA</h3>
          <h2>Hi, {{ first_name }} 👋</h2>
        </div>
      </div>
    </header>

    <div class="container">
                                                                                                                                                                                                                                                                                                                                            
        <div class="col-lg-10">
          <h4>
            Fill the form below and we will generate a suitable meal timetable
            for you!
          </h4>
          <form action="/meal" method="POST" class="my-email-form">
            <div class="row gy-4">
              <div>
                <label for="Vegetarian">Are you a Vegetarian?</label>
                <br />
                <label for="Vegetarian">Yes</label>
                <input type="radio" id="A" name="Vegetarian" value="Yes" />
                <label for="Vegetarian">NO</label>
                <input type="radio" id="B" name="Vegetarian" value="No" />
              </div>
              <br />
              <div>
                <label for="Allergies">Do you have Allergies?</label>
                <br />
                <label for="Allergies">Yes</label>
                <input type="radio" id="A" name="Allergies" value="Yes" />
                <label for="Allergies">NO</label>
                <input type="radio" id="B" name="Allergies" value="No" />
              </div>
              <br />

              <label for="height">What is your height in meters:</label>
              <input type="number" id="height" name="height" />
              <br /><br />

              <label for="weight">What is your weight in Kilogram(kg):</label>
              <input type="number" id="weight" name="weight" />
              <br /><br />

              <!-- <div>
                        <label for="meal"> Select the number of meal you want a day </label>
                        <select>
                            <option id="meal" name="meal" value = "two"> 2 </option>

                            <option id="meal" name="meal" value = "three"> 3 </option>
                        </select>
                        </div> -->

              <div>
                <label for="meal"
                  >Select the number of meal you want a day</label
                >
                <br />
                <label for="meal">2</label>
                <input type="radio" id="A" name="meal" value="two" />
                <label for="Vegetarian">3</label>
                <input type="radio" id="B" name="meal" value="three" />
              </div>
            </div>
            <br />
            <div class="container">
              <div class="row">
                <div class="col-md-6 text-center">
                  <!-- <br /><br /> -->
                  <input type="reset" />
                </div>
                <div class="col-md-6 text-center">
                  <!-- <br /><br /> -->
                  <input type="submit" value="Generate" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->

{% endblock %}
