<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Page</title>
    <!-- Template meal CSS File -->
    <link
      href="{{ url_for('static', filename='assets/css/meal.css') }}"
      rel="stylesheet"
    />
</head>
<body>
    <h1>Meal</h1>

<!-- <p>Find your student t in the table below.</p> -->

<table id="table">
  <tr>
    <th>Date</th>
    <th>BreakFast</th>
    <th>Lunch</th>
    <th>Dinner</th>
  </tr>
  {% for food in meal %}
  <tr>
    <td contenteditable>{{ food['Date'] }}</td>
    <td contenteditable>{{ food['BreakFast'] }}</td>
    <td contenteditable>{{ food['Lunch'] }}</td>
    <td contenteditable>{{ food['Dinner'] }}</td>
  </tr>
  {% endfor %}
</table>

<button id="grocery">Grocery Lists</button>

<table id="gtable" hidden>
  <thead>
    <tr>
      <th>Date</th>
      <th>Item</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>


<!-- using javascript to save the edited table and send it to the database and used AJAX to send 
  the updated data if outside the table is cliked to '/update' for processing to the database -->


  <!-- Template meal JS File -->
  <script src="{{url_for('static', filename='assets/js/meal.js')}}"></script>
</body>
</html>