{% extends 'user_base.html' %} {% block title %}Eudaimonia - Meal Plan{%
endblock %} {%block content %}

<section id="contact" class="contact d-flex align-items-center contact">
  <div class="container">
    <header class="col-lg-12 hero-img section-header">
      <div id="about" class="about">
        <div class="content">
          <h3>Welcome, {{ first_name }} 👋</h3>
          <h2>Meal Plan Dashboard</h2>
        </div>
      </div>
      <link
        href="{{ url_for('static', filename='assets/css/style.css') }}"
        rel="stylesheet"
      />
      <link
        href="{{ url_for('static', filename='assets/css/meal.css') }}"
        rel="stylesheet"
      />
    </header>

    <div class="container">
      <div class="row justify-content-center">
        <table id="table">
          <tr>
            <th>Date</th>
            <th>BreakFast</th>
            <th>Lunch</th>
            <th>Dinner</th>
          </tr>
          {% for food in meal %}
          <tr>
            <td contenteditable>{{ food['Date'] }}</td>
            <td contenteditable>{{ food['BreakFast'] }}</td>
            <td contenteditable>{{ food['Lunch'] }}</td>
            <td contenteditable>{{ food['Dinner'] }}</td>
          </tr>
          {% endfor %}
        </table>
        <!-- instruct users on how to edit the content of the table -->
        <div class="dropdown">
          <a href="#" onclick="toggleInstructions()"><span>I</span> <i class="bi bi-chevron-down"></i></a>
          <div id="instructions" class="sub_settings" style="display: none; color: blue;">
            <p>You can change the food item on the table by clicking on the box that contains the item you want to change, make the edit, and click outside the table to save the changes.</p>
          </div>
        </div>

    <div>
      <button onclick="show()" id="grocery" class="grocery">
        Grocery Lists
      </button>
      <br /><br /><br />

      <table id="gtable" style="display: none">
        <thead>
          <tr>
            <th>Date</th>
            <th>Item</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    </div>
  </div>
</section>

<!-- using javascript to save the edited table and send it to the database and used AJAX to send 
  the updated data if outside the table is cliked to '/update' for processing to the database -->

{% endblock %}
