<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milestone</title>
</head>
<body>
    <h1>Create Milestone</h1>
    <form action="/create_milestone/{{ goal_id }}" method="POST">
        <label>Description</label>
        <textarea name="description" required></textarea><br>
        <input type="submit" value="Create Milestone">
    </form>
</body>
</html>